<% title(@project.name, "Projects") %>
<header>
    <h1><%= @project.name %></h1>
    <ul class="actions">
	<% if policy(@project).update? %>
	<li><%= link_to 'Edit Project',
	    edit_project_path(@project), class: 'edit' %></li>
	<% end %>
	<% admins_only do %>
	<li><%= link_to  "Delete Project",
   	         admin_project_path(@project),
		 method: :delete,
		 data: { confirm: "Are you sure you want to delete this project?" },
		 class: 'delete'
	    %></li>
	<% end %>
    </ul>
</header>
<p><%= @project.description %></p>

<header>
    <h2> Tickets </h2>
    <ul id="tickets">
	<% @project.tickets.each do |ticket| %>
	    <li>
		#<%= ticket.id %> -
		<%= link_to ticket.name, [@project, ticket] %>
	</li>
	<% end %>
    </ul>
    <ul class='actions'>
	<% if policy(Ticket.new(project: @project)).create? %>
	    <li><%= link_to 'New Ticket', new_project_ticket_path(@project),
		class: 'new' %></li>
	<% end %>
    </ul>
</header>
