@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'font-awesome';
@import 'projects';
@import 'tickets';
@import 'admin/application';
@import 'admin/users';
@import 'responsive';

header {
    @extend .page-header;
    position: relative;
    padding-bottom: 0px;

    &:first-child {
	margin-top: 20px;
    }

}

ul.actions {
    @extend .list-unstyled;
    @extend .list-inline;
}

a.edit, a.new, a.delete {
    @extend .btn;
}

a.edit, a.new, a.delete {
    &:before {
	font-family: "FontAwesome";
	padding-right: 0.5em;
    }
}

a.edit {
      @extend .btn-primary;

    &:before {
	@extend .fa-pencil;
    }
}

a.new {
    @extend .btn-success;

    &:before {
	@extend .fa-plus;
    }
}
    
a.delete {
    @extend .btn-danger;

    &:before {
	@extend .fa-trash;
    }
}

.alert-notice {
    @extend .alert-success;
}

.alert-alert {
    @extend .alert-danger;
}

form {
    max-width: 500px;
}

body {
    padding-top: 70px;
}
