<header>
    <h1><%= @user %></h1>

    <header>
	<h2>Roles</h2>
    </header>

    <% if @user.roles.any? %>
	<ul>
	    <% @user.roles.each do |role| %>
		<li><%= role.project.name %>: <%= role.role.titleize %></li>
	    <% end %>
	</ul>
    <% else %>
	<p>This user has no roles.</p>
    <% end %>

    <ul class="actions">
	<li>
	    <%= link_to 'Edit User', [:edit, :admin, @user ], class: 'edit' %>
	</li>
	<li>
	    <%= link_to 'Archive User',
	    [:archive, :admin, @user ],
	    data: { confirm: 'Are you sure that you want to archive this user?' },
	    method: :patch,
	    class: 'delete'
	    %>
	</li>
    </ul>
</header>
